<div class="btn-group">
    {%  if permission_route is defined and permission_route is not empty %}<a href="{{ path(permission_route, {'id':dt_item}) }}" class="btn btn-warning btn-sm" title="edit Permission"><i class="fa fa-lock"></i></a>{% endif %}
    {%  if edit_route is defined and edit_route is not empty %}<a href="{{ path(edit_route, {'id':dt_item}) }}" class="btn btn-primary btn-sm" title="Ändern"><i class="fa fa-edit"></i></a>{% endif %}
    {%  if delete_route is defined and delete_route is not empty %}<a href="{{ path(delete_route, {'id':dt_item}) }}" class="btn btn-danger btn-sm deleterow" title="Löschen"><i class="fa fa-trash-o"></i></a>{% endif %}
</div>