{% extends 'PwdMgrAdminBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6" id="treearea">

            <h1>{{ category.name }}</h1>

            {% for key in keys %}
                {{ key.title }}<br />
            {% endfor %}

        </div>
        <div class="col-md-6" id="categoryformarea">

        </div>
    </div>
{% endblock %}
