<section class="panel panel-featured panel-featured-primary">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
            <a href="#" class="fa fa-times"></a>
        </div>

        <h2 class="panel-title">{{ "Category"|trans }}</h2>
    </header>
    <div class="panel-body">
        <div class="dd" id="nestable">
            {{ tree|raw }}
        </div>
    </div>
</section>