{% extends 'AdmMgrAdminBundle::layout.html.twig' %}

{% block bodyheader %}
    {% embed 'CwdAdminPortoBundle:Section:bodyHeader.html.twig' %}
        {% block bodytitle %}Index Test Seite{% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-md-9">
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>

            <h2 class="panel-title">Headings</h2>
            <p class="panel-subtitle">All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code>, are available.</p>
        </header>
        <div class="panel-body">
            <h1>h1. Heading 1</h1>
            <h2>h2. Heading 2</h2>
            <h3>h3. Heading 3</h3>
            <h4>h4. Heading 4</h4>
            <h5>h5. Heading 5</h5>
            <h6>h6. Heading 6</h6>
        </div>
    </section>

    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>

            <h2 class="panel-title">Paragraphs</h2>
            <p class="panel-subtitle">Make a paragraph stand out by adding lead class, and check out the alternative font style.</p>
        </header>
        <div class="panel-body">
            <p class="lead">Mauris aliquet ultricies ante, non <span class="word-rotate" data-plugin-options='{"delay": 3000}'><span class="word-rotate-items"><span>lorem</span>
									<span>ipsum</span><span>dolor</span></span></span>. Sed ultrices pellentesque purus, vulputate.</p>
            <p class="lead">Check the <span class="alternative-font">alternative</span> font style.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a adipiscing lectus. Aenean fermentum mauris erat, quis accumsan eros facilisis sed. Nullam convallis arcu nec imperdiet pharetra. Suspendisse sed pharetra orci. Integer elementum augue sed dui sollicitudin, eu molestie leo rutrum. Vestibulum sit amet ullamcorper nunc.</p>
            <p>Mauris aliquet <span class="highlight">ultricies</span> non faucibus ante gravida sed. Sed ultrices pellentesque purus, vulputate.</p>
            <p>Check the <span class="alternative-font">alternative</span> font style.</p>
            <p>Porto Admin is
										<span class="word-rotate highlight">
											<span class="word-rotate-items">
												<span>incredibly</span>
												<span>especially</span>
												<span>extremely</span>
											</span>
										</span>
                beautiful and fully responsive.
            </p>
        </div>
    </section>

    </div>
    <div class="col-md-3">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

                <h2 class="panel-title">Unordered List</h2>
                <p class="panel-subtitle">A list of items in which the order does not explicitly matter.</p>
            </header>
            <div class="panel-body">
                <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>
                        Lorem ipsum dolor sit amet.
                        <ul>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                        </ul>
                    </li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
            </div>
        </section>

        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

                <h2 class="panel-title">Ordered List</h2>
                <p class="panel-subtitle">A list of items in which the order does explicitly matter.</p>
            </header>
            <div class="panel-body">
                <ol>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>
                        Lorem ipsum dolor sit amet.
                        <ol>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                        </ol>
                    </li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ol>
            </div>
        </section>
    </div>
    </div>
{% endblock %}
